# Initial Zillow Clustering Project Notebook

In [2]:
import pandas as pd
import numpy as np

# Vis tools
import matplotlib.pyplot as plt
import seaborn as sns

# Custom Modules

# stats and modeling tools
from sklearn.cluster import KMeans
import scipy.stats as stats
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score

# supress scientific notation
np.set_printoptions(suppress=True)

# silence warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
# set and use zillow color palette
zpalette = ['#1277e1', '#f3ad35', '#0b449c', '#5289e4', '#c3eafb']
sns.set_palette(zpalette)
sns.color_palette()

[(0.07058823529411765, 0.4666666666666667, 0.8823529411764706),
 (0.9529411764705882, 0.6784313725490196, 0.20784313725490197),
 (0.043137254901960784, 0.26666666666666666, 0.611764705882353),
 (0.3215686274509804, 0.5372549019607843, 0.8941176470588236),
 (0.7647058823529411, 0.9176470588235294, 0.984313725490196)]

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

## Project Goals and Ideas
### The Big Question: What is driving the errors in the Zestimates?

For this project the target is `logerror`

#### Goal: Identify Drivers of Error and Create model(s) that account for those drivers.

#### Initial Thoughts
- After only looking at size (bedroom count, bathroom count and square footage for the house itself) model was not great
- Location is very important in real estate. As they say Location Location Location
    - Use Latitude and Longitude to narrow down groups
- Price per square foot is something lots of realtors use for comparing houses that aren't the same size

In [9]:
# defining some functions to make it easier. will go in Wrangle function
from env import host, password, user
import os

###################### Getting database Url ################
def get_db_url(db_name, user=user, host=host, password=password):
    """
        This helper function takes as default the user host and password from the env file.
        You must input the database name. It returns the appropriate URL to use in connecting to a database.
    """
    url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    return url

######################### get generic data #########################
def get_any_data(database, sql_query):
    '''
    put in the query and the database and get the data you need in a dataframe
    '''

    return pd.read_sql(sql_query, get_db_url(database))

######################### get Zillow Data #########################
def get_zillow_data():
    '''
    This function reads in Zillow data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    sql_query = """
                SELECT parcelid, airconditioningtypeid, airconditioningdesc, architecturalstyletypeid, architecturalstyledesc,
                bathroomcnt, bedroomcnt, buildingclasstypeid, buildingclassdesc, buildingqualitytypeid,
                decktypeid, calculatedfinishedsquarefeet, fips, fireplacecnt, fireplaceflag, garagecarcnt, garagetotalsqft,
                hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, propertycountylandusecode,
                propertylandusetypeid, propertylandusedesc, propertyzoningdesc, rawcensustractandblock, 
                regionidcity, regionidcounty, regionidneighborhood, roomcnt, threequarterbathnbr, typeconstructiontypeid, typeconstructiondesc, unitcnt, yearbuilt, numberofstories, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, 
                landtaxvaluedollarcnt, taxamount, censustractandblock, logerror, transactiondate 
                FROM properties_2017 AS p
                JOIN predictions_2017 USING (parcelid)
                INNER JOIN (SELECT parcelid, MAX(transactiondate) AS transactiondate
                FROM predictions_2017
                GROUP BY parcelid) 
                AS t USING (parcelid, transactiondate)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                WHERE latitude IS NOT NULL AND longitude IS NOT NULL 
                AND transactiondate LIKE "2017%%";
                """
    if os.path.isfile('zillow_data.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('zillow_data.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = pd.read_sql(sql_query, get_db_url('zillow'))
        
        # Cache data
        df.to_csv('zillow_data.csv')

    return df

In [10]:
def overview(df, thresh = 10):
    '''
    This function takes in a dataframe and prints out useful things about each column.
    Unique values, value counts for columns less than 10 (can be adjusted with optional arguement thresh)
    Whether or not the row has nulls
    '''
    # create list of columns
    col_list = df.columns
    
    # loop through column list
    for col in col_list:
        # seperator using column name
        print(f'============== {col} ==============')
        
        # print out unique values for each column
        print(f'# Unique Vals: {df[col].nunique()}')
        
        # if number of things is under or equal to the threshold  print a value counts
        if df[col].nunique() <= thresh:
            print(df[col].value_counts(dropna = False).sort_index(ascending = True))
            
        # if the number is less than 150 and not an object, bin it and do value counts
        elif (df[col].nunique() < 150) and df[col].dtype != 'object' :
            print(df[col].value_counts(bins = 10, dropna=False).sort_index(ascending = True))
        
        # Space for readability 
        print('')

In [11]:
# I saw this on the afore mentioned kaggle site. This is the credit that author gave.
# credit: https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction. 
# One of the best notebooks on getting started with a ML problem.

def missing_values_table(df):
    '''
    this function takes a dataframe as input and will output metrics for missing values, 
    and the percent of that column that has missing values
    '''
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
        " columns that have missing values.")
        
        # Return the dataframe with missing information
    return mis_val_table_ren_columns

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

## Get the Data and Overview
- Shape of data
- Number unique values
- Distribution of values
- Null Value exploration

In [12]:
# get zillow data with function above
df = get_zillow_data()

In [13]:
# have a total of 77380 rows 46 columns
df.shape

(77380, 46)

In [15]:
# see the names and types of all columns
# Lots of Nulls to deal with
# might need to do some splitting up vx object, float and int
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77380 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   airconditioningdesc           24953 non-null  object
 3   architecturalstyletypeid      206 non-null    float64
 4   architecturalstyledesc        206 non-null    object
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingclassdesc             15 non-null     object
 9   buildingqualitytypeid         49671 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  calculatedfinishedsquarefeet  77184 non-null  float64
 12  fips                          77380 non-null  float64
 13  fireplacecnt                  8276 non-null   float64
 14  fireplaceflag                 172 non-null    float64
 15  garagecarcnt                  25474 non-null  float64
 16  garagetotalsqft               25474 non-null  float64
 17  hashottuborspa                1538 non-null   float64
 18  latitude                      77380 non-null  float64
 19  longitude                     77380 non-null  float64
 20  lotsizesquarefeet             69141 non-null  float64
 21  poolcnt                       16137 non-null  float64
 22  poolsizesum                   867 non-null    float64
 23  propertycountylandusecode     77380 non-null  object
 24  propertylandusetypeid         77380 non-null  float64
 25  propertylandusedesc           77380 non-null  object
 26  propertyzoningdesc            50330 non-null  object
 27  rawcensustractandblock        77380 non-null  float64
 28  regionidcity                  75909 non-null  float64
 29  regionidcounty                77380 non-null  float64
 30  regionidneighborhood          30890 non-null  float64
 31  roomcnt                       77380 non-null  float64
 32  threequarterbathnbr           10096 non-null  float64
 33  typeconstructiontypeid        222 non-null    float64
 34  typeconstructiondesc          222 non-null    object
 35  unitcnt                       50562 non-null  float64
 36  yearbuilt                     77117 non-null  float64
 37  numberofstories               17560 non-null  float64
 38  structuretaxvaluedollarcnt    77268 non-null  float64
 39  taxvaluedollarcnt             77379 non-null  float64
 40  assessmentyear                77380 non-null  float64
 41  landtaxvaluedollarcnt         77378 non-null  float64
 42  taxamount                     77375 non-null  float64
 43  censustractandblock           77136 non-null  float64
 44  logerror                      77380 non-null  float64
 45  transactiondate               77380 non-null  object
dtypes: float64(37), int64(1), object(8)
memory usage: 27.2+ MB

In [16]:
overview(df)

============== parcelid ==============
# Unique Vals: 77380

============== airconditioningtypeid ==============
# Unique Vals: 5
1.0     23133
5.0       167
9.0        26
11.0       53
13.0     1574
NaN     52427
Name: airconditioningtypeid, dtype: int64

============== airconditioningdesc ==============
# Unique Vals: 5
Central          23133
None               167
Refrigeration       26
Wall Unit           53
Yes               1574
NaN              52427
Name: airconditioningdesc, dtype: int64

============== architecturalstyletypeid ==============
# Unique Vals: 5
2.0         5
3.0         3
7.0       172
8.0        19
21.0        7
NaN     77174
Name: architecturalstyletypeid, dtype: int64

============== architecturalstyledesc ==============
# Unique Vals: 5
Bungalow             5
Cape Cod             3
Contemporary       172
Conventional        19
Ranch/Rambler        7
NaN              77174
Name: architecturalstyledesc, dtype: int64

============== bathroomcnt ==============
# Unique Vals: 22
(-0.019, 1.8]    14909
(1.8, 3.6]       56435
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64

============== bedroomcnt ==============
# Unique Vals: 16
(-0.017, 1.6]     4209
(1.6, 3.2]       49530
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64

============== buildingclasstypeid ==============
# Unique Vals: 2
3.0        1
4.0       14
NaN    77365
Name: buildingclasstypeid, dtype: int64

============== buildingclassdesc ==============
# Unique Vals: 2
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
NaN                                                                                                                                                                                                                                        77365
Name: buildingclassdesc, dtype: int64

============== buildingqualitytypeid ==============
# Unique Vals: 12
(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9482
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64

============== decktypeid ==============
# Unique Vals: 1
66.0      614
NaN     76766
Name: decktypeid, dtype: int64

============== calculatedfinishedsquarefeet ==============
# Unique Vals: 4972

============== fips ==============
# Unique Vals: 3
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64

============== fireplacecnt ==============
# Unique Vals: 5
1.0     7008
2.0      995
3.0      235
4.0       35
5.0        3
NaN    69104
Name: fireplacecnt, dtype: int64

============== fireplaceflag ==============
# Unique Vals: 1
1.0      172
NaN    77208
Name: fireplaceflag, dtype: int64

============== garagecarcnt ==============
# Unique Vals: 14
(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64

============== garagetotalsqft ==============
# Unique Vals: 839

============== hashottuborspa ==============
# Unique Vals: 1
1.0     1538
NaN    75842
Name: hashottuborspa, dtype: int64

============== latitude ==============
# Unique Vals: 64037

============== longitude ==============
# Unique Vals: 62460

============== lotsizesquarefeet ==============
# Unique Vals: 18848

============== poolcnt ==============
# Unique Vals: 1
1.0    16137
NaN    61243
Name: poolcnt, dtype: int64

============== poolsizesum ==============
# Unique Vals: 262

============== propertycountylandusecode ==============
# Unique Vals: 75

============== propertylandusetypeid ==============
# Unique Vals: 13
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3271
(250.6, 275.0]    74094
Name: propertylandusetypeid, dtype: int64

============== propertylandusedesc ==============
# Unique Vals: 13

============== propertyzoningdesc ==============
# Unique Vals: 1907

============== rawcensustractandblock ==============
# Unique Vals: 39194

============== regionidcity ==============
# Unique Vals: 175

============== regionidcounty ==============
# Unique Vals: 3
1286.0    20593
2061.0     6237
3101.0    50550
Name: regionidcounty, dtype: int64

============== regionidneighborhood ==============
# Unique Vals: 480

============== roomcnt ==============
# Unique Vals: 16
(-0.016, 1.5]    59808
(1.5, 3.0]         226
(3.0, 4.5]        1415
(4.5, 6.0]        7529
(6.0, 7.5]        3838
(7.5, 9.0]        4065
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64

============== threequarterbathnbr ==============
# Unique Vals: 4
1.0    10012
2.0       75
3.0        8
7.0        1
NaN    67284
Name: threequarterbathnbr, dtype: int64

============== typeconstructiontypeid ==============
# Unique Vals: 4
4.0         1
6.0       219
10.0        1
13.0        1
NaN     77158
Name: typeconstructiontypeid, dtype: int64

============== typeconstructiondesc ==============
# Unique Vals: 4
Concrete        1
Frame         219
Masonry         1
Metal           1
NaN         77158
Name: typeconstructiondesc, dtype: int64

============== unitcnt ==============
# Unique Vals: 8
1.0      47292
2.0       2018
3.0        525
4.0        723
6.0          1
42.0         1
45.0         1
237.0        1
NaN      26818
Name: unitcnt, dtype: int64

============== yearbuilt ==============
# Unique Vals: 136
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1743
(1920.0, 1939.2]       6688
(1939.2, 1958.4]      18463
(1958.4, 1977.6]      20354
(1977.6, 1996.8]      19097
(1996.8, 2016.0]      10678
Name: yearbuilt, dtype: int64

============== numberofstories ==============
# Unique Vals: 4
1.0    10366
2.0     6757
3.0      436
6.0        1
NaN    59820
Name: numberofstories, dtype: int64

============== structuretaxvaluedollarcnt ==============
# Unique Vals: 50429

============== taxvaluedollarcnt ==============
# Unique Vals: 50948

============== assessmentyear ==============
# Unique Vals: 1
2016.0    77380
Name: assessmentyear, dtype: int64

============== landtaxvaluedollarcnt ==============
# Unique Vals: 51600

============== taxamount ==============
# Unique Vals: 73824

============== censustractandblock ==============
# Unique Vals: 39006

============== logerror ==============
# Unique Vals: 76836

============== transactiondate ==============
# Unique Vals: 264

#### Takeaways
- not sure what roomcnt is and how it's different from bedrooms and bathrooms 
- three quarter bath seems redundant 
- most of the homes here are single family 
- there's someone who has a 14 car garage (maybe it's a quadruplex or something)
- three houses have 5 fireplaces. Must be really cold there in Southern California
- Date could be changed to a datetime object

### Taking a look at Nulls

In [17]:
missing_values_table(df)

Your selected dataframe has 46 columns.
There are 31 columns that have missing values.

                              Missing Values  % of Total Values
buildingclasstypeid                    77365              100.0
buildingclassdesc                      77365              100.0
fireplaceflag                          77208               99.8
architecturalstyletypeid               77174               99.7
architecturalstyledesc                 77174               99.7
typeconstructiondesc                   77158               99.7
typeconstructiontypeid                 77158               99.7
decktypeid                             76766               99.2
poolsizesum                            76513               98.9
hashottuborspa                         75842               98.0
fireplacecnt                           69104               89.3
threequarterbathnbr                    67284               87.0
poolcnt                                61243               79.1
numberofstories                        59820               77.3
airconditioningdesc                    52427               67.8
airconditioningtypeid                  52427               67.8
garagetotalsqft                        51906               67.1
garagecarcnt                           51906               67.1
regionidneighborhood                   46490               60.1
buildingqualitytypeid                  27709               35.8
propertyzoningdesc                     27050               35.0
unitcnt                                26818               34.7
lotsizesquarefeet                       8239               10.6
regionidcity                            1471                1.9
yearbuilt                                263                0.3
censustractandblock                      244                0.3
calculatedfinishedsquarefeet             196                0.3
structuretaxvaluedollarcnt               112                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

#### Takeaways from NaNs
- buildingclassdesc and buildingclasstypeid have too many missing, will drop
- fireplaceflag seems to not have been used as much as fireplacecnt (drop fireplaceflag)
- the architectural columns also don't have enough to go on, nothing to replace with
- typeconstructiondesc and typeconstructiontypeid both don't have enough values (these are things like concrete, masonry)
    - This could be interesting later down the road to classify luxury home
- decktypeid, poolsizesum 
- numberofstories doesn't seem like something would be a driver of price 

Turned to 0s 
- hashottuborspa Nan's could be turned to 0s 
- fireplacecnt 
- garagecarcnt can have NaN's converted to 0s

###  Functions for Nulls

In [18]:
def nulls_by_row(df):
    '''
    This function takes in a dataframe and returns a dataframe with an overview of how many rows have missing values
    '''
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = round(num_missing / df.shape[1] * 100, 2)
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [19]:
nulls_by_row(df)

   num_cols_missing percent_cols_missing  num_rows
0                 9                19.57         2
1                10                21.74        10
2                11                23.91        23
3                12                26.09        62
4                13                28.26       114
5                14                30.43       416
6                15                32.61      5577
7                16                34.78     10549
8                17                36.96     14385
9                18                39.13     21032
10               19                 41.3     18022
11               20                43.48      4283
12               21                45.65      2110
13               22                47.83       438
14               23                 50.0       211
15               24                52.17        84
16               25                54.35        50
17               26                56.52         9
18               27                 58.7         2
19               28                60.87         1

In [20]:
# see what kind of property land use ids we have 
df.propertylandusedesc.value_counts(dropna = False).to_frame()

                                            propertylandusedesc
Single Family Residential                                 52319
Condominium                                               19294
Duplex (2 Units, Any Combination)                          2009
Planned Unit Development                                   1944
Quadruplex (4 Units, Any Combination)                       727
Triplex (3 Units, Any Combination)                          535
Cluster Home                                                333
Mobile Home                                                  74
Manufactured, Modular, Prefabricated Homes                   58
Residential General                                          37
Cooperative                                                  29
Commercial/Office/Residential Mixed Used                     15
Townhouse                                                     6

In [21]:
# put in wrangle module
def single_homes(df):
    '''
    Function takes in zillow dataframe and outputs dataframe with only data for single unit homes.
    Single unit home defined as any of the following 
    'Single Family Residential', 'Condominium', 'Townhouse', 'Manufactured, Modular, Prefabricated Homes', 'Mobile Home'
    Home must also have unit count of 1 or NaN
    '''
    # define single home descriptions
    single_homes = ['Single Family Residential', 'Condominium', 'Townhouse', 'Manufactured, Modular, Prefabricated Homes', 'Mobile Home']
    
    # If the property land use description is the in the single homes list keep it
    df = df[df['propertylandusedesc'].isin(single_homes)]
    
    # create mask if unit count is 1 or NaN
    unitcnt_mask = (df['unitcnt'] == 1) | (df['unitcnt'].isnull())
    
    # apply mask to dataframe
    df = df[unitcnt_mask]
    
    return df